In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

Importing IHME Datasets which are 3 files with each ~ 500.000 lines

In [2]:
# Define paths for CSV files
file_paths = [
    "../MindScape/data/ihme_death_rates/IHME-GBD_2019_DATA-9eb66fce-1.csv",
    "../MindScape/data/ihme_death_rates/IHME-GBD_2019_DATA-9eb66fce-2.csv",
    "../MindScape/data/ihme_death_rates/IHME-GBD_2019_DATA-9eb66fce-3.csv"
]

# Read and concatenate CSV files
df_ihme = pd.concat([pd.read_csv(file, encoding='utf-8') for file in file_paths], ignore_index=True)
df_ihme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1203840 entries, 0 to 1203839
Data columns (total 10 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   measure   1203840 non-null  object
 1   location  1203840 non-null  object
 2   sex       1203840 non-null  object
 3   age       1203840 non-null  object
 4   cause     1203840 non-null  object
 5   metric    1203840 non-null  object
 6   year      1203840 non-null  int64
 7   val       1203840 non-null  float64
 8   upper     1203840 non-null  float64
 9   lower     1203840 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 91.8+ MB

In [3]:
df_ihme.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Thailand,Male,15-19 years,Self-harm,Number,1990,509.242789,777.477796,299.480890
1,Deaths,Thailand,Female,15-19 years,Self-harm,Number,1990,287.915013,418.744214,174.989576
2,Deaths,Thailand,Both,15-19 years,Self-harm,Number,1990,797.157802,1107.179866,556.124225
3,Deaths,Thailand,Male,15-19 years,Self-harm,Rate,1990,17.347116,26.484416,10.201676
4,Deaths,Thailand,Female,15-19 years,Self-harm,Rate,1990,9.770471,14.210194,5.938317

In [ ]:
df_ihme.to_csv('suicide_rates_ihme.csv', index=False)

Import suicide rates reported by WHO

In [7]:
owid_suicide_rates = pd.read_csv('../MindScape/data/suicide-rates-by-age-detailed-who.csv', encoding = 'utf-8')

In [9]:
owid_suicide_rates.head()

,Entity,Code,Year,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 15-24 years of age,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 25-34 years of age,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 35-44 years of age,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 55-64 years,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 75-84 years,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 65-74 years,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 45-54 years,Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 85+ years of age
0,Afghanistan,AFG,2019,4.71,7.60,8.65,9.82,8.47,10.73,9.56,24.46
1,Albania,ALB,2019,4.67,2.73,4.89,4.71,9.89,3.53,6.16,22.84
2,Algeria,DZA,2019,3.32,4.11,3.89,2.32,4.35,2.77,2.65,8.34
3,Angola,AGO,2019,3.70,5.82,8.40,32.10,63.54,47.41,20.49,165.09
4,Antigua and Barbuda,ATG,2019,0.00,0.00,0.00,3.71,0.00,0.00,0.00,0.00

Clean dataset and rename columns

In [10]:
owid_suicide_rates.rename(columns={
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 15-24 years of age": "rate for 15-24 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 25-34 years of age": "rate for 25-34 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 35-44 years of age": "rate for 35-44 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 45-54 years": "rate for 45-54 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 55-64 years": "rate for 55-64 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 65-74 years": "rate for 65-74 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 75-84 years": "rate for 75-84 years",
                    "Crude suicide rates (per 100 000 population) - Sex: both sexes - Age group: 85+ years of age" : "rate for 85+ years"
                            }, 
                    inplace=True)

In [11]:
column_names = [
    "rate for 15-24 years",
    "rate for 25-34 years",
    "rate for 35-44 years",
    "rate for 45-54 years",
    "rate for 55-64 years",
    "rate for 65-74 years",
    "rate for 75-84 years",
    "rate for 85+ years"
]

owid_suicide_rates['total_rate'] = owid_suicide_rates[column_names].sum(axis=1)

In [12]:
owid_suicide_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                183 non-null    object
 1   Code                  183 non-null    object
 2   Year                  183 non-null    int64
 3   rate for 15-24 years  183 non-null    float64
 4   rate for 25-34 years  183 non-null    float64
 5   rate for 35-44 years  183 non-null    float64
 6   rate for 55-64 years  183 non-null    float64
 7   rate for 75-84 years  183 non-null    float64
 8   rate for 65-74 years  183 non-null    float64
 9   rate for 45-54 years  183 non-null    float64
 10  rate for 85+ years    183 non-null    float64
 11  total_rate            183 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 17.3+ KB

Export cleaned dataset as CSV file

In [13]:
owid_suicide_rates.to_csv('owid_suicide.csv', index=False)